/* -----------------------
Base styles
------------------------*/

html
{ height: 100%;}

*
{ margin: 0;
    padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #FFF;
    color: #555;}

p
{ padding: 0 0 20px 0;
    line-height: 1.7em;}

img
{ border: 0;}

h1
{
    color: #E7746F;
    letter-spacing: 0;
    font: normal 300% 'Autour One';
    margin: 0 0 5px 0;
    padding: 15px 0 5px 0;
}

h2
{
    color: #E7746F;
    letter-spacing: 0;
    font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    font-size: 160%;
    padding: 9px 0 5px 0;
}

h3
{
    color: #7C2B2A;
    letter-spacing: 0;
    font: normal 170% 'Autour One';
    margin: 0 0 5px 0;
    padding: 15px 0 0 0;
}

h4
{
    color: #527A4E;
    letter-spacing: 0;
    font: normal 150% 'Gloria Hallelujah';
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
}

h5
{
    color: #009FBC;
    letter-spacing: 0;
    font: normal 100% 'Autour One';
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
}

a, a:hover
{ outline: none;
    text-decoration: underline;
    color: #009FBC;}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0;
    padding: 10px 20px 0 20px;
    border: 1px solid #E5E5DB;
    background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
    line-height: 1.5em;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.container {
    position: relative;
    width: 75%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: .5s ease;
    background-color: #E7746F;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: justify;
}
/* -----------------------
Layout styles
------------------------*/

.left
{ float: left;
    width: auto;
    margin-right: 10px;}

.right
{ float: right;
    width: auto;
    margin-left: 10px;}

.center
{ display: block;
    text-align: center;
    margin: 20px auto;}

.trans-box
{
    width: 300px;
    height: 200px;
    text-align: center;
    background-color: #ffffff;
    opacity: 0.6;
    padding: 20px;
    position: relative;
    top: 250px;
    left: 500px;
}

.img-divider
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* -----------------------
Image Slider
------------------------*/

.slider-holder
{
    width: 800px;
    height: 400px;
    border: 5px solid #E7746F;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    overflow: hidden;
}

.image-holder
{
    width: 2400px;
    background-color: red;
    height: 400px;
    clear: both;
    position: relative;

    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image
{
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}

#slider-image-1:target ~ .image-holder
{
    left: 0;
}

#slider-image-2:target ~ .image-holder
{
    left: -800px;
}

#slider-image-3:target ~ .image-holder
{
    left: -1600px;
}

.button-holder
{
    position: relative;
    top: -20px;
}

.slider-change
{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: brown;
}

/* -----------------------
Specific styles
------------------------*/

#main, #logo, #navbar, #site_content, #footer
{ margin-left: auto;
    margin-right: auto;}

#header
{ background: #1d1d1d url(header.jpg) repeat;
    border-bottom: 2px solid #E7746F;
    height: 177px;}

#banner
{ background: transparent url(banner.jpg) no-repeat;
    width: 1000px;
    height: 500px;
    margin-bottom: 20px;
    border: 5px solid #E7746F;}

#logo
{ width: 880px;
    position: relative;
    height: 140px;
    background: transparent;}

#logo #logo_text
{ position: absolute;
    top: 10px;
    left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'Autour One';
    border-bottom: 0;
    text-transform: none;
    margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover
{ padding: 22px 0 0 0;
    color: #FFF;
    letter-spacing: 0.1em;
    text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #E7746F;}

#logo_text a:hover .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 120%;
    padding: 4px 0 0 0;
    color: #FFF;}

#navbar
{ width: 880px;
    height: 46px;}

ul#menu
{ float: right;
    margin: 0;}

ul#menu li
{ float: left;
    padding: 0 0 0 9px;
    list-style: none;
    margin: 1px 2px 0 0;
    background: transparent;}

ul#menu li a
{ font: normal 100% 'Autour One';
    display: block;
    float: left;
    height: 20px;
    padding: 6px 35px 5px 28px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    background: transparent;}

ul#menu li.selected a
{ height: 20px;
    padding: 6px 35px 5px 28px;}

ul#menu li.selected
{ margin: 1px 2px 0 0;
    background: #E7746F;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #E7746F;
    color: #FFF;}

ul#menu li a:hover
{ color: #FFF;
    background: #E7746F;}

#site_content
{ width: 1020px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    padding: 0 0 10px 0;}

#content
{ text-align: left;
    width: 100%;
    padding: 0 0 0 5px;
    float: left;}

#content ul
{ margin: 2px 0 22px 0;}

#content ul li
{ list-style-type: none;
    font: normal 120% 'Gloria Hallelujah';
    background: url(bullet.png) no-repeat;
    margin: 0 0 0 0;
    padding: 0 0 4px 25px;
    line-height: 1.5em;}

#footer
{ width: 100%;
    font-family: 'trebuchet ms', sans-serif;
    font-size: 100%;
    height: 80px;
    padding: 28px 0 5px 0;
    text-align: center;
    background: transparent url(footer.jpg) repeat;
    border-top: 2px solid #E7746F;
    color: #FFF;}

#footer p
{ line-height: 1.7em;
    padding: 0 0 10px 0;}

#footer a
{ color: #E7746F;
    text-decoration: none;}

#footer a:hover
{ color: #FFF;
    text-decoration: none;}

.separator
{ width: 100%;
    height: 0;
    border-top: 1px solid #D9D5CF;
    border-bottom: 1px solid #FFF;
    margin: 0 0 20px 0;}

/* -----------------------
Table styles
------------------------*/

table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #E7746F;
    color: #FFF;
    padding: 7px 4px;
    text-align: left;}

table tr td
{ background: #E5E5DB;
    color: #47433F;
    border-top: 1px solid #FFF;}
